.app.light{
    --bg-color:#ffffff;
    --inverted-bg-color:#000000;

    --primary-color:#000000;
    --secondary-color:#000000;
    --inverted-primary-color:#fbfbfb;
    --inverted-secondary-color:#ffffff;
}