* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    height: 100vh;
    background: #0ba9ec;
    color: #fff;
    font-size: 35px;
    display: flex;
}

a{
    color: #fff;
    text-decoration: none;
    font-size: 35px;
    margin-right: 10px;
}